<template name="default">
	{{>bertAlert}}
	{{>header}}
	<div >
		{{mobileCheck}}
		{{#if loggingIn}}
			{{> loading}}
		{{else}}
			{{#if authenticated}}
				{{#unless redirectAuthenticated}}
					{{#if Template.subscriptionsReady}}
						{{#if needsBar}}
								{{> createBar}}
						{{else}}
								{{> Template.dynamic template=yield}}
						{{/if}}
					{{else}}
						{{> loading}}
					{{/if}}
				{{/unless}}
			{{else}}
				{{#unless redirectPublic}}
					{{> Template.dynamic template=yield}}
				{{/unless}}
			{{/if}}
		{{/if}}
	</div>
</template>
