<template name="default">
	{{>bertAlert}}
	{{>header}}
	<div >
		{{mobileCheck}}
		{{#if loggingIn}}
			{{> loading}}
		{{else}}
			{{#if authenticated}}
				{{#unless redirectAuthenticated}}
					{{#if needsBar}}
							{{> createBar}}
					{{else}}
						{{#if Template.subscriptionsReady}}
							{{> Template.dynamic template=yield}}
						{{else}}
							{{> loading}}
						{{/if}}
					{{/if}}
				{{/unless}}
			{{else}}
				{{#unless redirectPublic}}
					{{> Template.dynamic template=yield}}
				{{/unless}}
			{{/if}}
		{{/if}}
	</div>
</template>
