<template name="dashboard">
  <div class="container">
    <div class="row">
      <div class="col s12 m4">
        <div class="card-panel white">
          <ul>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ul>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel white">
          <ul>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ul>
        </div>
      </div>
      <div class="col s12 m4">
        <div class="card-panel white">
          <ul>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>
