<template name="dashboard">
  {{#if Template.subscriptionsReady}}
    {{> ticketList}}
  {{else}} {{> loading}} {{/if}}
</template>

<template name="ticketList">
  {{#if Template.subscriptionsReady}}
  <div class="container section">
    <div class="row">
    {{#if tickets}}
      {{#each tickets}}
      <div class="col s12 m4">
        <div class="card-panel white">
          <div class="avatar">
            {{#with userFromId owner}}
              <img src="{{avatar}}" alt="{{emails.[0].address}}" class="circle">
              <span class="title"><h5>Order No. {{../_id}}</h5></span>
            {{/with}}
          </div>
              <ul class="collection">
                {{#each order}}
                  {{#with itemFromId item}}
                    <li class="collection-item">
                      {{../quantity}}X {{name}}
                      <a href="#!" class="secondary-content"><i class="material-icons">close</i></a>
                    </li>
                  {{/with}}
                {{/each}}
              </ul>
              {{#if pending this}}
                <a class="btn-floating btn-large waves-effect waves-light orange right stage-ticket" id="{{_id}}"><i class="material-icons">add</i></a>
              {{else}}
                <a class="btn-floating btn-large waves-effect waves-light green right complete-ticket" id="{{_id}}"><i class="material-icons">check</i></a>
              {{/if}}
              <a class="btn-floating btn-large waves-effect waves-light red reject-ticket" id="{{_id}}"><i class="material-icons">close</i></a>
        </div>
      </div>
      {{/each}}
    {{else}}
      <h1>NOTHING TO SHOW!</h1>
    {{/if}}
    </div>
  </div>
  {{else}} {{> loading}} {{/if}}
</template>
