<template name="dashboard">
  {{#if Template.subscriptionsReady}}
    {{> ticketList}}
  {{else}} {{> loading}} {{/if}}
</template>

<template name="ticketList">
  {{#if Template.subscriptionsReady}}
  <div class="container section">
    <div class="row">
    {{#if tickets}}
      {{#each tickets}}
      <div class="col s12 m4">
        <div class="card-panel white" id="{{_id}}">
          <div class="avatar">
            {{#with userFromId owner}}
              <img src="{{avatar}}" alt="{{emails.[0].address}}" class="circle">
              <span class="title"><h5>Order No. {{../orderNum}}</h5></span>
            {{/with}}
          </div>
              <ul class="collection">
                {{#each order}}
                  {{#with itemFromId item}}
                    <li class="collection-item">
                      {{../quantity}}X {{name}}
                      <a href="#modal-{{_id}}" class="secondary-content item-no-stock" id="{{_id}}"><i class="material-icons">close</i></a>
                      <div id="oosModal-{{_id}}" class="modal">
                        <div class="modal-content">
                          <h4>Mark {{name}} out of stock?</h4>
                        </div>
                        <div class="modal-footer">
                          <a href="#!" id="{{_id}}" class=" modal-action modal-close waves-effect waves-green btn-flat confirm-oos">Yes</a>
                          <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                        </div>
                      </div>
                    </li>
                  {{/with}}
                {{/each}}
              </ul>
              {{#if pending this}}
                <a class="btn-floating btn-large waves-effect waves-light orange right stage-ticket" id="{{_id}}"><i class="material-icons">add</i></a>
              {{else}}
                <a class="btn-floating btn-large waves-effect waves-light green right complete-ticket" id="{{_id}}"><i class="material-icons">check</i></a>
                <div id="completeModal-{{_id}}" class="modal">
                  <div class="modal-content">
                    <h4>Is {{#with userFromId owner}}
                      <img src="{{avatar}}" alt="{{emails.[0].address}}" class="circle">
                      {{/with}} at least 21 years old?
                    </h4>
                  </div>
                  <div class="modal-footer">
                    <a href="#!" id="{{_id}}" class=" modal-action modal-close waves-effect waves-green btn-flat confirm-complete-order">Yes</a>
                    <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                  </div>
                </div>
              {{/if}}
              <a class="btn-floating btn-large waves-effect waves-light red reject-ticket" id="{{_id}}"><i class="material-icons">close</i></a>
              <div id="rejectModal-{{_id}}" class="modal">
                <div class="modal-content">
                  <h4>Are you sure you want to reject the order from {{#with userFromId owner}}
                    <img src="{{avatar}}" alt="{{emails.[0].address}}" class="circle">
                    {{/with}}?
                  </h4>
                </div>
                <div class="modal-footer">
                  <a href="#!" id="{{_id}}" class=" modal-action modal-close waves-effect waves-green btn-flat confirm-reject-order">Yes</a>
                  <a href="#!" class=" modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
                </div>
              </div>
        </div>
      </div>
      {{/each}}
    {{else}}
    <div class="white z-depth-1">
      <div class="container" style="padding: 15px">
        <h4 class="center">There are no current orders!</h4>
      </div>
    </div>
    {{/if}}
    </div>
  </div>
  {{else}} {{> loading}} {{/if}}
</template>
