<template name="menu">
  <div class="white z-depth-1">
    <div class="section">
      <div class="container" style="padding:10px;">
        <h5>Add New Menu Item</h5>
        {{#autoForm collection="MenuItems" id="insertMenuForm" type="insert"}}
          {{>afQuickField name="name"}}
          {{>afQuickField name="category"}}
          {{>afFieldInput name="price" type="number" template="priceField"}}
          <button type="submit" class="btn">Submit</button>
        {{/autoForm}}
      </div>
    </div>
    <div class="divider"></div>
    <div class="section">
      <div class="container" style="padding:10px;">
        <h5>Current Menu</h5>
        <ul class="collapsible" data-collapsible="accordion">
          {{#each allMenuItems}}
          <li>
            <div class="collapsible-header">
              <div class="row">
                <div class="col s4">
                  {{name}}
                </div>
                <div class="col s4">
                  {{prettyPrice price}}
                </div>
                <div class="col s4">
                  {{category}}
                </div>
              </div>
            </div>
            <div class="collapsible-body">
              <div class="section">
                <div class="container">
                  {{> quickForm collection="MenuItems" id=(uniqueFormId this._id) type="update" omitFields="barId" doc=this}}
                </div>
              </div>
            </div>
          </li>
          {{/each}}
          {{> menuHelper}}
        </ul>
      </div>
    </div>
  </div>
</template>

<template name="afInputNumber_priceField">
  <div class="row">
    <div class="input-field col s12 data-required">
      <i class="material-icons prefix">attach_money</i>
      <input type="number" step="0.01" value="{{this.value}}" {{attsPlusFormControlClass}}/>
      <label>{{afFieldLabelText name=this.atts.name}}</label>
    </div>
  </div>
</template>
