<template name="settings">
  {{#if Template.subscriptionsReady}}
  <div class="container z-depth-1">
    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a class="active" href="#test2">Menu</a></li>
          <li class="tab col s3"><a href="#test1">Bar Profile</a></li>
        </ul>
      </div>
      {{> isRendered}}

      <div id="test1" class="col s12">
        {{> barProfile}}
      </div>

      <div id="test2" class="col s12">
        {{> menu}}
      </div>
    </div>
  </div>
  {{else}} {{> loading}} {{/if}}
</template>

<template name="barProfile">
  <div class="white z-depth-1">
    <div class="container" style="padding: 15px">
      {{#with bar}}
        {{> quickForm collection="Bars" type="update" omitFields="owner,menu,location.lat,location.lon,location.formattedAddress,orderTicker" id="barForm" doc=this}}
      {{/with}}
    </div>
  </div>
</template>

<template name="isRendered"></template>
