<template name="notFound">
	<div id="beer2">
		<div class="cup">
			<div></div>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
			<i class="bolha"></i>
		</div>
	</div>
</template>
